# Objective

Predict 3 of 6 numbers in a dataset of a Israeli lottery game. The dataset is based on the results of Isareli general lottery games between September 1968 and May 2022.

[URL](https://medium.com/@polanitzer/how-to-guess-accurately-3-lottery-numbers-out-of-6-using-lstm-model-e148d1c632d6)

## How it does it work?

The israeli lottert called Loto is a weekly game where the participant chooses 6 numbers out of 37 and an additional number out of 7.

### Working the data

In [1]:
import numpy as np 
import pandas as pd  
from sklearn.preprocessing import StandardScaler
from keras.models import Sequential
from keras.layers import LSTM, Dense, Bidirectional, Dropout

let's load the dataset

In [2]:
file = './data/IsraeliLottery.csv'
df = pd.read_csv(file)

In [3]:
df.head()

   Game        Date   A   B   C   D   E   F
0  6801  03/09/1968   3  14  18  22  25  33
1  6802  10/09/1968  13  20  23  29  32  34
2  6803  17/09/1968   8  12  26  27  34  38
3  6804  24/09/1968   1  14  17  26  35  39
4  6805  01/10/1968   1   7   8   9  11  30

In [4]:
df.tail()

      Game        Date  A   B   C   D   E   F
4042  3467  14/05/2022  9  16  17  21  26  29
4043  3468  17/05/2022  1   4   5  24  31  32
4044  3469  19/05/2022  1   8  18  25  29  30
4045  3470  21/05/2022  3   4   5  15  24  33
4046  3471  24/05/2022  6  10  13  20  23  35

In [5]:
df.shape

(4047, 8)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4047 entries, 0 to 4046
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Game    4047 non-null   int64
 1   Date    4047 non-null   object
 2   A       4047 non-null   int64
 3   B       4047 non-null   int64
 4   C       4047 non-null   int64
 5   D       4047 non-null   int64
 6   E       4047 non-null   int64
 7   F       4047 non-null   int64
dtypes: int64(7), object(1)
memory usage: 253.1+ KB

No null/missing values

In [7]:
df.describe()

,Game,A,B,C,D,E,F
count,4047.000000,4047.000000,4047.000000,4047.000000,4047.000000,4047.000000,4047.000000
mean,4695.399061,5.698542,11.428713,17.128737,22.948357,28.795404,34.635285
std,3106.179305,4.635402,5.988067,6.698026,6.820599,6.616360,5.910514
min,1035.000000,1.000000,2.000000,3.000000,4.000000,7.000000,13.000000
25%,2046.500000,2.000000,7.000000,12.000000,18.000000,24.000000,31.000000
50%,3058.000000,4.000000,10.000000,17.000000,23.000000,29.000000,35.000000
75%,8011.500000,8.000000,15.000000,22.000000,28.000000,33.000000,38.000000
max,9934.000000,31.000000,37.000000,44.000000,46.000000,48.000000,49.000000

some features will not be usefull as "Game" and "Date", so, we'll drop off them.

In [8]:
df.drop(['Game', 'Date'], axis=1, inplace=True)
df.head()

    A   B   C   D   E   F
0   3  14  18  22  25  33
1  13  20  23  29  32  34
2   8  12  26  27  34  38
3   1  14  17  26  35  39
4   1   7   8   9  11  30

Deep learning algorithms expect all input features to vary in a similar way, and ideally to have a mean of 0, and variance of 1. We must rescale our data so that it futfills these requirements.

In [9]:
scaler = StandardScaler().fit(df.values)
transformed_dataset = scaler.transform(df.values)
transformed_df = pd.DataFrame(data=transformed_dataset, index=df.index)

Checking the scaled data:

In [10]:
transformed_df.head()

          0         1         2         3         4         5
0 -0.582231  0.429455  0.130094 -0.139060 -0.573710 -0.276708
1  1.575345  1.431572  0.876674  0.887369  0.484404 -0.107497
2  0.496557  0.095416  1.324623  0.594104  0.786722  0.569346
3 -1.013746  0.429455 -0.019223  0.447471  0.937882  0.738557
4 -1.013746 -0.739681 -1.363068 -2.045287 -2.689939 -0.784341

Defining variables

In [11]:
number_of_games = df.values.shape[0]
number_of_games

4047

In [12]:
# Amount of games we need to take into consideration for predicction
window_length = 7

In [13]:
# Ball number
number_of_features = df.values.shape[1]
number_of_features

6

Let's crate X and y for each row in our scaled data. It should have format Keras LSTM model (rows, window size, balls)

In [14]:
X = np.empty([number_of_games - window_length, window_length, number_of_features], dtype=float)

y = np.empty([number_of_games - window_length, number_of_features],dtype=float)

for i in range(number_of_games-window_length):
    X[i] = transformed_df.iloc[i : i + window_length, 0 : number_of_features]

    y[i] = transformed_df.iloc[i+window_length : i+window_length+1, 0 : number_of_features]

Let's check out X shape:

In [15]:
X.shape

(4040, 7, 6)

In [16]:
y.shape

(4040, 6)

Let's check out our first scaled sample (made of seven consecutevely games)

In [17]:
X[0]

array([[-0.58223113,  0.429455  ,  0.1300936 , -0.13906023, -0.57371015,
        -0.27670816],
       [ 1.57534546,  1.43157169,  0.87667445,  0.88736948,  0.4844041 ,
        -0.10749723],
       [ 0.49655716,  0.0954161 ,  1.32462296,  0.59410385,  0.78672246,
         0.56934648],
       [-1.01374645,  0.429455  , -0.01922257,  0.44747103,  0.93788164,
         0.7385574 ],
       [-1.01374645, -0.73968114, -1.36306809, -2.04528682, -2.68993865,
        -0.78434094],
       [ 0.2807995 , -0.40564224, -1.06443575, -0.8722243 , -0.87602851,
        -0.10749723],
       [-1.01374645, -0.90670059,  0.87667445,  0.88736948,  0.63556328,
        -0.10749723]])

Let's check out our first scaled label

In [18]:
y[0]

array([-0.79798879,  0.26243555,  0.42872594,  0.1542054 , -0.57371015,
       -1.29197372])

Let's check out the second scaled sample (made of seven consecutive lottery games)

In [19]:
X[1]

array([[ 1.57534546,  1.43157169,  0.87667445,  0.88736948,  0.4844041 ,
        -0.10749723],
       [ 0.49655716,  0.0954161 ,  1.32462296,  0.59410385,  0.78672246,
         0.56934648],
       [-1.01374645,  0.429455  , -0.01922257,  0.44747103,  0.93788164,
         0.7385574 ],
       [-1.01374645, -0.73968114, -1.36306809, -2.04528682, -2.68993865,
        -0.78434094],
       [ 0.2807995 , -0.40564224, -1.06443575, -0.8722243 , -0.87602851,
        -0.10749723],
       [-1.01374645, -0.90670059,  0.87667445,  0.88736948,  0.63556328,
        -0.10749723],
       [-0.79798879,  0.26243555,  0.42872594,  0.1542054 , -0.57371015,
        -1.29197372]])

Let's check out our second scaled label

In [20]:
y[1]

array([-0.58223113, -0.40564224,  1.32462296,  1.32726792,  0.78672246,
        0.23092462])

## Modeling

First, let's initialise the RNN (recurrent Neural Network)

In [21]:
model = Sequential()

Let's add the input layer and the LSTM layer

In [22]:
model.add(Bidirectional(LSTM(240, input_shape = (window_length, number_of_features), return_sequences = True)))

Let's add a first Dropout layer in order to reduce overfitting

In [23]:
model.add(Dropout(0.2))

Let's add a second LSTM layer

In [24]:
model.add(Bidirectional(LSTM(240, input_shape = (window_length, number_of_features), return_sequences= True)))

Let's add a second Dropout layer

In [25]:
model.add(Dropout(0.2))

Then, let’s add a third LSTM layer

In [26]:
model.add(Bidirectional(LSTM(240, input_shape = (window_length, number_of_features), return_sequences = True)))

Now, let’s add a fourth LSTM layer

In [27]:
model.add(Bidirectional(LSTM(240, input_shape = (window_length, number_of_features), return_sequences = False)))

Next, let’s add a dense layer

In [28]:
model.add(Dense(59))

Finally, let’s add the last output layer

In [29]:
model.add(Dense(number_of_features))

Now, let's compile the RNN

In [30]:
from tensorflow import keras
from tensorflow.keras.optimizers import Adam

model.compile(optimizer=Adam(learning_rate=0.0001), loss='mse', metrics=['accuracy'] )

Next, let’s train our LSTM model

In [31]:
model.fit(x=X, y=y, batch_size=100, epochs=300, verbose=2)

Epoch 1/300
41/41 - 39s - loss: 0.9241 - accuracy: 0.2515 - 39s/epoch - 948ms/step
Epoch 2/300
41/41 - 15s - loss: 0.8969 - accuracy: 0.2782 - 15s/epoch - 370ms/step
Epoch 3/300
41/41 - 16s - loss: 0.8922 - accuracy: 0.2686 - 16s/epoch - 386ms/step
Epoch 4/300
41/41 - 15s - loss: 0.8933 - accuracy: 0.2775 - 15s/epoch - 367ms/step
Epoch 5/300
41/41 - 15s - loss: 0.8911 - accuracy: 0.2817 - 15s/epoch - 364ms/step
Epoch 6/300
41/41 - 15s - loss: 0.8917 - accuracy: 0.2780 - 15s/epoch - 369ms/step
Epoch 7/300
41/41 - 15s - loss: 0.8895 - accuracy: 0.2775 - 15s/epoch - 357ms/step
Epoch 8/300
41/41 - 15s - loss: 0.8901 - accuracy: 0.2775 - 15s/epoch - 367ms/step
Epoch 9/300
41/41 - 15s - loss: 0.8897 - accuracy: 0.2760 - 15s/epoch - 371ms/step
Epoch 10/300
41/41 - 16s - loss: 0.8904 - accuracy: 0.2743 - 16s/epoch - 382ms/step
Epoch 11/300
41/41 - 15s - loss: 0.8896 - accuracy: 0.2745 - 15s/epoch - 362ms/step
Epoch 12/300
41/41 - 15s - loss: 0.8879 - accuracy: 0.2770 - 15s/epoch - 368ms/step
Epoch 13/300
41/41 - 15s - loss: 0.8867 - accuracy: 0.2787 - 15s/epoch - 356ms/step
Epoch 14/300
41/41 - 15s - loss: 0.8882 - accuracy: 0.2715 - 15s/epoch - 362ms/step
Epoch 15/300
41/41 - 15s - loss: 0.8857 - accuracy: 0.2750 - 15s/epoch - 363ms/step
Epoch 16/300
41/41 - 15s - loss: 0.8875 - accuracy: 0.2792 - 15s/epoch - 366ms/step
Epoch 17/300
41/41 - 15s - loss: 0.8841 - accuracy: 0.2757 - 15s/epoch - 357ms/step
Epoch 18/300
41/41 - 15s - loss: 0.8840 - accuracy: 0.2770 - 15s/epoch - 359ms/step
Epoch 19/300
41/41 - 15s - loss: 0.8837 - accuracy: 0.2760 - 15s/epoch - 361ms/step
Epoch 20/300
41/41 - 15s - loss: 0.8827 - accuracy: 0.2752 - 15s/epoch - 363ms/step
Epoch 21/300
41/41 - 15s - loss: 0.8820 - accuracy: 0.2765 - 15s/epoch - 367ms/step
Epoch 22/300
41/41 - 15s - loss: 0.8804 - accuracy: 0.2804 - 15s/epoch - 361ms/step
Epoch 23/300
41/41 - 16s - loss: 0.8833 - accuracy: 0.2797 - 16s/epoch - 385ms/step
Epoch 24/300
41/41 - 15s - loss: 0.8841 - accuracy: 0.2770 - 15s/epoch - 360ms/step
Epoch 25/300
41/41 - 15s - loss: 0.8796 - accuracy: 0.2809 - 15s/epoch - 362ms/step
Epoch 26/300
41/41 - 15s - loss: 0.8803 - accuracy: 0.2767 - 15s/epoch - 360ms/step
Epoch 27/300
41/41 - 15s - loss: 0.8792 - accuracy: 0.2775 - 15s/epoch - 368ms/step
Epoch 28/300
41/41 - 16s - loss: 0.8801 - accuracy: 0.2775 - 16s/epoch - 395ms/step
Epoch 29/300
41/41 - 16s - loss: 0.8775 - accuracy: 0.2792 - 16s/epoch - 391ms/step
Epoch 30/300
41/41 - 16s - loss: 0.8772 - accuracy: 0.2775 - 16s/epoch - 380ms/step
Epoch 31/300
41/41 - 15s - loss: 0.8773 - accuracy: 0.2765 - 15s/epoch - 374ms/step
Epoch 32/300
41/41 - 15s - loss: 0.8753 - accuracy: 0.2757 - 15s/epoch - 377ms/step
Epoch 33/300
41/41 - 15s - loss: 0.8767 - accuracy: 0.2866 - 15s/epoch - 366ms/step
Epoch 34/300
41/41 - 15s - loss: 0.8753 - accuracy: 0.2814 - 15s/epoch - 369ms/step
Epoch 35/300
41/41 - 16s - loss: 0.8751 - accuracy: 0.2757 - 16s/epoch - 392ms/step
Epoch 36/300
41/41 - 17s - loss: 0.8749 - accuracy: 0.2842 - 17s/epoch - 416ms/step
Epoch 37/300
41/41 - 15s - loss: 0.8736 - accuracy: 0.2802 - 15s/epoch - 364ms/step
Epoch 38/300
41/41 - 15s - loss: 0.8752 - accuracy: 0.2760 - 15s/epoch - 354ms/step
Epoch 39/300
41/41 - 15s - loss: 0.8718 - accuracy: 0.2770 - 15s/epoch - 357ms/step
Epoch 40/300
41/41 - 14s - loss: 0.8716 - accuracy: 0.2777 - 14s/epoch - 350ms/step
Epoch 41/300
41/41 - 14s - loss: 0.8705 - accuracy: 0.2752 - 14s/epoch - 353ms/step
Epoch 42/300
41/41 - 14s - loss: 0.8697 - accuracy: 0.2780 - 14s/epoch - 352ms/step
Epoch 43/300
41/41 - 14s - loss: 0.8718 - accuracy: 0.2804 - 14s/epoch - 351ms/step
Epoch 44/300
41/41 - 15s - loss: 0.8727 - accuracy: 0.2765 - 15s/epoch - 358ms/step
Epoch 45/300
41/41 - 16s - loss: 0.8693 - accuracy: 0.2812 - 16s/epoch - 386ms/step
Epoch 46/300
41/41 - 14s - loss: 0.8681 - accuracy: 0.2780 - 14s/epoch - 349ms/step
Epoch 47/300
41/41 - 17s - loss: 0.8669 - accuracy: 0.2800 - 17s/epoch - 416ms/step
Epoch 48/300
41/41 - 15s - loss: 0.8672 - accuracy: 0.2864 - 15s/epoch - 367ms/step
Epoch 49/300
41/41 - 15s - loss: 0.8660 - accuracy: 0.2782 - 15s/epoch - 376ms/step
Epoch 50/300
41/41 - 14s - loss: 0.8636 - accuracy: 0.2792 - 14s/epoch - 352ms/step
Epoch 51/300
41/41 - 25s - loss: 0.8628 - accuracy: 0.2785 - 25s/epoch - 599ms/step
Epoch 52/300
41/41 - 16s - loss: 0.8651 - accuracy: 0.2760 - 16s/epoch - 394ms/step
Epoch 53/300
41/41 - 15s - loss: 0.8647 - accuracy: 0.2760 - 15s/epoch - 374ms/step
Epoch 54/300
41/41 - 25s - loss: 0.8623 - accuracy: 0.2775 - 25s/epoch - 617ms/step
Epoch 55/300
41/41 - 19s - loss: 0.8606 - accuracy: 0.2775 - 19s/epoch - 463ms/step
Epoch 56/300
41/41 - 18s - loss: 0.8591 - accuracy: 0.2812 - 18s/epoch - 446ms/step
Epoch 57/300
41/41 - 18s - loss: 0.8608 - accuracy: 0.2851 - 18s/epoch - 439ms/step
Epoch 58/300
41/41 - 18s - loss: 0.8618 - accuracy: 0.2819 - 18s/epoch - 428ms/step
Epoch 59/300
41/41 - 19s - loss: 0.8609 - accuracy: 0.2839 - 19s/epoch - 472ms/step
Epoch 60/300
41/41 - 17s - loss: 0.8596 - accuracy: 0.2861 - 17s/epoch - 408ms/step
Epoch 61/300
41/41 - 16s - loss: 0.8595 - accuracy: 0.2864 - 16s/epoch - 379ms/step
Epoch 62/300
41/41 - 15s - loss: 0.8592 - accuracy: 0.2775 - 15s/epoch - 360ms/step
Epoch 63/300
41/41 - 15s - loss: 0.8563 - accuracy: 0.2800 - 15s/epoch - 358ms/step
Epoch 64/300
41/41 - 15s - loss: 0.8566 - accuracy: 0.2854 - 15s/epoch - 366ms/step
Epoch 65/300
41/41 - 23s - loss: 0.8546 - accuracy: 0.2795 - 23s/epoch - 572ms/step
Epoch 66/300
41/41 - 21s - loss: 0.8505 - accuracy: 0.2839 - 21s/epoch - 524ms/step
Epoch 67/300
41/41 - 15s - loss: 0.8520 - accuracy: 0.2807 - 15s/epoch - 371ms/step
Epoch 68/300
41/41 - 19s - loss: 0.8518 - accuracy: 0.2874 - 19s/epoch - 467ms/step
Epoch 69/300
41/41 - 18s - loss: 0.8500 - accuracy: 0.2866 - 18s/epoch - 448ms/step
Epoch 70/300
41/41 - 18s - loss: 0.8482 - accuracy: 0.2911 - 18s/epoch - 451ms/step
Epoch 71/300
41/41 - 15s - loss: 0.8477 - accuracy: 0.2819 - 15s/epoch - 375ms/step
Epoch 72/300
41/41 - 21s - loss: 0.8455 - accuracy: 0.2824 - 21s/epoch - 512ms/step
Epoch 73/300
41/41 - 26s - loss: 0.8488 - accuracy: 0.2847 - 26s/epoch - 631ms/step
Epoch 74/300
41/41 - 17s - loss: 0.8490 - accuracy: 0.2839 - 17s/epoch - 421ms/step
Epoch 75/300
41/41 - 18s - loss: 0.8434 - accuracy: 0.2842 - 18s/epoch - 442ms/step
Epoch 76/300
41/41 - 18s - loss: 0.8410 - accuracy: 0.2819 - 18s/epoch - 428ms/step
Epoch 77/300
41/41 - 17s - loss: 0.8405 - accuracy: 0.2874 - 17s/epoch - 403ms/step
Epoch 78/300
41/41 - 15s - loss: 0.8413 - accuracy: 0.2879 - 15s/epoch - 373ms/step
Epoch 79/300
41/41 - 15s - loss: 0.8391 - accuracy: 0.2812 - 15s/epoch - 355ms/step
Epoch 80/300
41/41 - 14s - loss: 0.8403 - accuracy: 0.2938 - 14s/epoch - 352ms/step
Epoch 81/300
41/41 - 15s - loss: 0.8338 - accuracy: 0.2903 - 15s/epoch - 365ms/step
Epoch 82/300
41/41 - 15s - loss: 0.8349 - accuracy: 0.2851 - 15s/epoch - 357ms/step
Epoch 83/300
41/41 - 15s - loss: 0.8358 - accuracy: 0.2921 - 15s/epoch - 362ms/step
Epoch 84/300
41/41 - 15s - loss: 0.8310 - accuracy: 0.2886 - 15s/epoch - 354ms/step
Epoch 85/300
41/41 - 15s - loss: 0.8305 - accuracy: 0.2911 - 15s/epoch - 361ms/step
Epoch 86/300
41/41 - 15s - loss: 0.8303 - accuracy: 0.2891 - 15s/epoch - 356ms/step
Epoch 87/300
41/41 - 14s - loss: 0.8271 - accuracy: 0.2861 - 14s/epoch - 353ms/step
Epoch 88/300
41/41 - 15s - loss: 0.8267 - accuracy: 0.2861 - 15s/epoch - 355ms/step
Epoch 89/300
41/41 - 14s - loss: 0.8241 - accuracy: 0.2876 - 14s/epoch - 352ms/step
Epoch 90/300
41/41 - 15s - loss: 0.8250 - accuracy: 0.2829 - 15s/epoch - 359ms/step
Epoch 91/300
41/41 - 15s - loss: 0.8199 - accuracy: 0.2849 - 15s/epoch - 361ms/step
Epoch 92/300
41/41 - 14s - loss: 0.8142 - accuracy: 0.2807 - 14s/epoch - 350ms/step
Epoch 93/300
41/41 - 15s - loss: 0.8126 - accuracy: 0.2854 - 15s/epoch - 354ms/step
Epoch 94/300
41/41 - 15s - loss: 0.8109 - accuracy: 0.2911 - 15s/epoch - 361ms/step
Epoch 95/300
41/41 - 15s - loss: 0.8118 - accuracy: 0.2876 - 15s/epoch - 355ms/step
Epoch 96/300
41/41 - 14s - loss: 0.8098 - accuracy: 0.2869 - 14s/epoch - 349ms/step
Epoch 97/300
41/41 - 15s - loss: 0.8062 - accuracy: 0.2916 - 15s/epoch - 354ms/step
Epoch 98/300
41/41 - 14s - loss: 0.8032 - accuracy: 0.2871 - 14s/epoch - 354ms/step
Epoch 99/300
41/41 - 14s - loss: 0.8004 - accuracy: 0.2950 - 14s/epoch - 352ms/step
Epoch 100/300
41/41 - 14s - loss: 0.8011 - accuracy: 0.2906 - 14s/epoch - 349ms/step
Epoch 101/300
41/41 - 14s - loss: 0.7998 - accuracy: 0.2921 - 14s/epoch - 348ms/step
Epoch 102/300
41/41 - 15s - loss: 0.7926 - accuracy: 0.2881 - 15s/epoch - 354ms/step
Epoch 103/300
41/41 - 14s - loss: 0.7905 - accuracy: 0.2933 - 14s/epoch - 353ms/step
Epoch 104/300
41/41 - 15s - loss: 0.7877 - accuracy: 0.2938 - 15s/epoch - 368ms/step
Epoch 105/300
41/41 - 14s - loss: 0.7855 - accuracy: 0.2980 - 14s/epoch - 347ms/step
Epoch 106/300
41/41 - 15s - loss: 0.7903 - accuracy: 0.2918 - 15s/epoch - 356ms/step
Epoch 107/300
41/41 - 14s - loss: 0.7820 - accuracy: 0.2928 - 14s/epoch - 346ms/step
Epoch 108/300
41/41 - 14s - loss: 0.7811 - accuracy: 0.2889 - 14s/epoch - 346ms/step
Epoch 109/300
41/41 - 14s - loss: 0.7721 - accuracy: 0.2988 - 14s/epoch - 347ms/step
Epoch 110/300
41/41 - 14s - loss: 0.7706 - accuracy: 0.2995 - 14s/epoch - 352ms/step
Epoch 111/300
41/41 - 14s - loss: 0.7691 - accuracy: 0.2941 - 14s/epoch - 344ms/step
Epoch 112/300
41/41 - 15s - loss: 0.7658 - accuracy: 0.2975 - 15s/epoch - 355ms/step
Epoch 113/300
41/41 - 14s - loss: 0.7642 - accuracy: 0.2968 - 14s/epoch - 347ms/step
Epoch 114/300
41/41 - 14s - loss: 0.7555 - accuracy: 0.2978 - 14s/epoch - 349ms/step
Epoch 115/300
41/41 - 14s - loss: 0.7569 - accuracy: 0.3002 - 14s/epoch - 351ms/step
Epoch 116/300
41/41 - 14s - loss: 0.7509 - accuracy: 0.2970 - 14s/epoch - 345ms/step
Epoch 117/300
41/41 - 15s - loss: 0.7485 - accuracy: 0.3015 - 15s/epoch - 361ms/step
Epoch 118/300
41/41 - 15s - loss: 0.7459 - accuracy: 0.3054 - 15s/epoch - 372ms/step
Epoch 119/300
41/41 - 16s - loss: 0.7421 - accuracy: 0.3045 - 16s/epoch - 380ms/step
Epoch 120/300
41/41 - 13s - loss: 0.7368 - accuracy: 0.3092 - 13s/epoch - 322ms/step
Epoch 121/300
41/41 - 13s - loss: 0.7251 - accuracy: 0.3064 - 13s/epoch - 320ms/step
Epoch 122/300
41/41 - 13s - loss: 0.7206 - accuracy: 0.3097 - 13s/epoch - 319ms/step
Epoch 123/300
41/41 - 13s - loss: 0.7223 - accuracy: 0.3067 - 13s/epoch - 322ms/step
Epoch 124/300
41/41 - 13s - loss: 0.7120 - accuracy: 0.3111 - 13s/epoch - 317ms/step
Epoch 125/300
41/41 - 13s - loss: 0.7157 - accuracy: 0.3176 - 13s/epoch - 324ms/step
Epoch 126/300
41/41 - 13s - loss: 0.7063 - accuracy: 0.3168 - 13s/epoch - 318ms/step
Epoch 127/300
41/41 - 13s - loss: 0.7026 - accuracy: 0.3208 - 13s/epoch - 323ms/step
Epoch 128/300
41/41 - 13s - loss: 0.6998 - accuracy: 0.3173 - 13s/epoch - 322ms/step
Epoch 129/300
41/41 - 13s - loss: 0.6950 - accuracy: 0.3230 - 13s/epoch - 323ms/step
Epoch 130/300
41/41 - 13s - loss: 0.6896 - accuracy: 0.3205 - 13s/epoch - 323ms/step
Epoch 131/300
41/41 - 13s - loss: 0.6843 - accuracy: 0.3300 - 13s/epoch - 329ms/step
Epoch 132/300
41/41 - 13s - loss: 0.6789 - accuracy: 0.3260 - 13s/epoch - 328ms/step
Epoch 133/300
41/41 - 13s - loss: 0.6737 - accuracy: 0.3389 - 13s/epoch - 320ms/step
Epoch 134/300
41/41 - 13s - loss: 0.6632 - accuracy: 0.3371 - 13s/epoch - 321ms/step
Epoch 135/300
41/41 - 13s - loss: 0.6602 - accuracy: 0.3312 - 13s/epoch - 321ms/step
Epoch 136/300
41/41 - 13s - loss: 0.6541 - accuracy: 0.3364 - 13s/epoch - 320ms/step
Epoch 137/300
41/41 - 13s - loss: 0.6527 - accuracy: 0.3426 - 13s/epoch - 323ms/step
Epoch 138/300
41/41 - 13s - loss: 0.6487 - accuracy: 0.3515 - 13s/epoch - 318ms/step
Epoch 139/300
41/41 - 13s - loss: 0.6413 - accuracy: 0.3502 - 13s/epoch - 319ms/step
Epoch 140/300
41/41 - 13s - loss: 0.6403 - accuracy: 0.3470 - 13s/epoch - 320ms/step
Epoch 141/300
41/41 - 13s - loss: 0.6286 - accuracy: 0.3624 - 13s/epoch - 320ms/step
Epoch 142/300
41/41 - 13s - loss: 0.6248 - accuracy: 0.3594 - 13s/epoch - 324ms/step
Epoch 143/300
41/41 - 13s - loss: 0.6221 - accuracy: 0.3606 - 13s/epoch - 320ms/step
Epoch 144/300
41/41 - 13s - loss: 0.6132 - accuracy: 0.3579 - 13s/epoch - 320ms/step
Epoch 145/300
41/41 - 14s - loss: 0.6058 - accuracy: 0.3666 - 14s/epoch - 338ms/step
Epoch 146/300
41/41 - 13s - loss: 0.6009 - accuracy: 0.3683 - 13s/epoch - 325ms/step
Epoch 147/300
41/41 - 13s - loss: 0.5991 - accuracy: 0.3750 - 13s/epoch - 322ms/step
Epoch 148/300
41/41 - 13s - loss: 0.5947 - accuracy: 0.3728 - 13s/epoch - 324ms/step
Epoch 149/300
41/41 - 13s - loss: 0.5849 - accuracy: 0.3748 - 13s/epoch - 320ms/step
Epoch 150/300
41/41 - 13s - loss: 0.5787 - accuracy: 0.3755 - 13s/epoch - 322ms/step
Epoch 151/300
41/41 - 13s - loss: 0.5748 - accuracy: 0.3859 - 13s/epoch - 320ms/step
Epoch 152/300
41/41 - 13s - loss: 0.5693 - accuracy: 0.3871 - 13s/epoch - 326ms/step
Epoch 153/300
41/41 - 13s - loss: 0.5625 - accuracy: 0.3854 - 13s/epoch - 318ms/step
Epoch 154/300
41/41 - 13s - loss: 0.5571 - accuracy: 0.4010 - 13s/epoch - 323ms/step
Epoch 155/300
41/41 - 13s - loss: 0.5522 - accuracy: 0.3970 - 13s/epoch - 319ms/step
Epoch 156/300
41/41 - 13s - loss: 0.5486 - accuracy: 0.4022 - 13s/epoch - 320ms/step
Epoch 157/300
41/41 - 13s - loss: 0.5423 - accuracy: 0.3993 - 13s/epoch - 322ms/step
Epoch 158/300
41/41 - 13s - loss: 0.5385 - accuracy: 0.4082 - 13s/epoch - 324ms/step
Epoch 159/300
41/41 - 14s - loss: 0.5315 - accuracy: 0.4119 - 14s/epoch - 332ms/step
Epoch 160/300
41/41 - 14s - loss: 0.5266 - accuracy: 0.4129 - 14s/epoch - 339ms/step
Epoch 161/300
41/41 - 13s - loss: 0.5216 - accuracy: 0.4129 - 13s/epoch - 326ms/step
Epoch 162/300
41/41 - 13s - loss: 0.5142 - accuracy: 0.4223 - 13s/epoch - 319ms/step
Epoch 163/300
41/41 - 13s - loss: 0.5077 - accuracy: 0.4092 - 13s/epoch - 328ms/step
Epoch 164/300
41/41 - 13s - loss: 0.5057 - accuracy: 0.4245 - 13s/epoch - 321ms/step
Epoch 165/300
41/41 - 13s - loss: 0.5037 - accuracy: 0.4223 - 13s/epoch - 326ms/step
Epoch 166/300
41/41 - 13s - loss: 0.4952 - accuracy: 0.4277 - 13s/epoch - 322ms/step
Epoch 167/300
41/41 - 13s - loss: 0.4911 - accuracy: 0.4349 - 13s/epoch - 320ms/step
Epoch 168/300
41/41 - 13s - loss: 0.4835 - accuracy: 0.4431 - 13s/epoch - 323ms/step
Epoch 169/300
41/41 - 13s - loss: 0.4798 - accuracy: 0.4344 - 13s/epoch - 321ms/step
Epoch 170/300
41/41 - 13s - loss: 0.4748 - accuracy: 0.4473 - 13s/epoch - 327ms/step
Epoch 171/300
41/41 - 13s - loss: 0.4704 - accuracy: 0.4443 - 13s/epoch - 319ms/step
Epoch 172/300
41/41 - 13s - loss: 0.4598 - accuracy: 0.4557 - 13s/epoch - 324ms/step
Epoch 173/300
41/41 - 13s - loss: 0.4566 - accuracy: 0.4495 - 13s/epoch - 326ms/step
Epoch 174/300
41/41 - 13s - loss: 0.4506 - accuracy: 0.4594 - 13s/epoch - 326ms/step
Epoch 175/300
41/41 - 13s - loss: 0.4494 - accuracy: 0.4557 - 13s/epoch - 326ms/step
Epoch 176/300
41/41 - 13s - loss: 0.4458 - accuracy: 0.4606 - 13s/epoch - 321ms/step
Epoch 177/300
41/41 - 13s - loss: 0.4377 - accuracy: 0.4703 - 13s/epoch - 321ms/step
Epoch 178/300
41/41 - 13s - loss: 0.4310 - accuracy: 0.4730 - 13s/epoch - 321ms/step
Epoch 179/300
41/41 - 13s - loss: 0.4275 - accuracy: 0.4735 - 13s/epoch - 324ms/step
Epoch 180/300
41/41 - 13s - loss: 0.4175 - accuracy: 0.4792 - 13s/epoch - 320ms/step
Epoch 181/300
41/41 - 13s - loss: 0.4144 - accuracy: 0.4834 - 13s/epoch - 319ms/step
Epoch 182/300
41/41 - 13s - loss: 0.4111 - accuracy: 0.4725 - 13s/epoch - 327ms/step
Epoch 183/300
41/41 - 13s - loss: 0.4028 - accuracy: 0.4839 - 13s/epoch - 324ms/step
Epoch 184/300
41/41 - 14s - loss: 0.4021 - accuracy: 0.4896 - 14s/epoch - 346ms/step
Epoch 185/300
41/41 - 15s - loss: 0.3917 - accuracy: 0.4975 - 15s/epoch - 354ms/step
Epoch 186/300
41/41 - 14s - loss: 0.3915 - accuracy: 0.4998 - 14s/epoch - 352ms/step
Epoch 187/300
41/41 - 15s - loss: 0.3857 - accuracy: 0.5062 - 15s/epoch - 370ms/step
Epoch 188/300
41/41 - 15s - loss: 0.3792 - accuracy: 0.5097 - 15s/epoch - 368ms/step
Epoch 189/300
41/41 - 15s - loss: 0.3730 - accuracy: 0.5005 - 15s/epoch - 359ms/step
Epoch 190/300
41/41 - 15s - loss: 0.3670 - accuracy: 0.5116 - 15s/epoch - 362ms/step
Epoch 191/300
41/41 - 15s - loss: 0.3594 - accuracy: 0.5156 - 15s/epoch - 361ms/step
Epoch 192/300
41/41 - 15s - loss: 0.3554 - accuracy: 0.5119 - 15s/epoch - 360ms/step
Epoch 193/300
41/41 - 15s - loss: 0.3493 - accuracy: 0.5161 - 15s/epoch - 364ms/step
Epoch 194/300
41/41 - 14s - loss: 0.3444 - accuracy: 0.5317 - 14s/epoch - 348ms/step
Epoch 195/300
41/41 - 14s - loss: 0.3343 - accuracy: 0.5347 - 14s/epoch - 347ms/step
Epoch 196/300
41/41 - 14s - loss: 0.3306 - accuracy: 0.5265 - 14s/epoch - 343ms/step
Epoch 197/300
41/41 - 14s - loss: 0.3259 - accuracy: 0.5428 - 14s/epoch - 345ms/step
Epoch 198/300
41/41 - 14s - loss: 0.3208 - accuracy: 0.5396 - 14s/epoch - 348ms/step
Epoch 199/300
41/41 - 14s - loss: 0.3129 - accuracy: 0.5495 - 14s/epoch - 343ms/step
Epoch 200/300
41/41 - 15s - loss: 0.3062 - accuracy: 0.5463 - 15s/epoch - 354ms/step
Epoch 201/300
41/41 - 14s - loss: 0.3025 - accuracy: 0.5490 - 14s/epoch - 344ms/step
Epoch 202/300
41/41 - 14s - loss: 0.2936 - accuracy: 0.5574 - 14s/epoch - 348ms/step
Epoch 203/300
41/41 - 14s - loss: 0.2879 - accuracy: 0.5500 - 14s/epoch - 345ms/step
Epoch 204/300
41/41 - 14s - loss: 0.2829 - accuracy: 0.5639 - 14s/epoch - 344ms/step
Epoch 205/300
41/41 - 14s - loss: 0.2733 - accuracy: 0.5760 - 14s/epoch - 347ms/step
Epoch 206/300
41/41 - 14s - loss: 0.2716 - accuracy: 0.5743 - 14s/epoch - 343ms/step
Epoch 207/300
41/41 - 14s - loss: 0.2632 - accuracy: 0.5782 - 14s/epoch - 345ms/step
Epoch 208/300
41/41 - 14s - loss: 0.2626 - accuracy: 0.5851 - 14s/epoch - 350ms/step
Epoch 209/300
41/41 - 14s - loss: 0.2526 - accuracy: 0.5911 - 14s/epoch - 347ms/step
Epoch 210/300
41/41 - 15s - loss: 0.2447 - accuracy: 0.5958 - 15s/epoch - 354ms/step
Epoch 211/300
41/41 - 14s - loss: 0.2393 - accuracy: 0.5960 - 14s/epoch - 350ms/step
Epoch 212/300
41/41 - 14s - loss: 0.2363 - accuracy: 0.6005 - 14s/epoch - 345ms/step
Epoch 213/300
41/41 - 14s - loss: 0.2303 - accuracy: 0.6042 - 14s/epoch - 347ms/step
Epoch 214/300
41/41 - 14s - loss: 0.2225 - accuracy: 0.6059 - 14s/epoch - 344ms/step
Epoch 215/300
41/41 - 14s - loss: 0.2190 - accuracy: 0.6156 - 14s/epoch - 346ms/step
Epoch 216/300
41/41 - 14s - loss: 0.2107 - accuracy: 0.6198 - 14s/epoch - 344ms/step
Epoch 217/300
41/41 - 14s - loss: 0.2057 - accuracy: 0.6171 - 14s/epoch - 345ms/step
Epoch 218/300
41/41 - 14s - loss: 0.2029 - accuracy: 0.6317 - 14s/epoch - 344ms/step
Epoch 219/300
41/41 - 14s - loss: 0.1953 - accuracy: 0.6272 - 14s/epoch - 350ms/step
Epoch 220/300
41/41 - 14s - loss: 0.1895 - accuracy: 0.6342 - 14s/epoch - 347ms/step
Epoch 221/300
41/41 - 14s - loss: 0.1835 - accuracy: 0.6322 - 14s/epoch - 353ms/step
Epoch 222/300
41/41 - 14s - loss: 0.1810 - accuracy: 0.6399 - 14s/epoch - 342ms/step
Epoch 223/300
41/41 - 14s - loss: 0.1771 - accuracy: 0.6421 - 14s/epoch - 345ms/step
Epoch 224/300
41/41 - 14s - loss: 0.1714 - accuracy: 0.6510 - 14s/epoch - 345ms/step
Epoch 225/300
41/41 - 14s - loss: 0.1692 - accuracy: 0.6584 - 14s/epoch - 342ms/step
Epoch 226/300
41/41 - 17s - loss: 0.1627 - accuracy: 0.6646 - 17s/epoch - 404ms/step
Epoch 227/300
41/41 - 13s - loss: 0.1583 - accuracy: 0.6631 - 13s/epoch - 316ms/step
Epoch 228/300
41/41 - 13s - loss: 0.1540 - accuracy: 0.6673 - 13s/epoch - 320ms/step
Epoch 229/300
41/41 - 13s - loss: 0.1526 - accuracy: 0.6696 - 13s/epoch - 321ms/step
Epoch 230/300
41/41 - 13s - loss: 0.1462 - accuracy: 0.6777 - 13s/epoch - 320ms/step
Epoch 231/300
41/41 - 13s - loss: 0.1423 - accuracy: 0.6752 - 13s/epoch - 318ms/step
Epoch 232/300
41/41 - 13s - loss: 0.1366 - accuracy: 0.6780 - 13s/epoch - 324ms/step
Epoch 233/300
41/41 - 13s - loss: 0.1323 - accuracy: 0.6829 - 13s/epoch - 318ms/step
Epoch 234/300
41/41 - 13s - loss: 0.1279 - accuracy: 0.6975 - 13s/epoch - 321ms/step
Epoch 235/300
41/41 - 13s - loss: 0.1268 - accuracy: 0.7017 - 13s/epoch - 324ms/step
Epoch 236/300
41/41 - 13s - loss: 0.1226 - accuracy: 0.7099 - 13s/epoch - 318ms/step
Epoch 237/300

## Evaluation

Let's take the results of the last 8 Israelli general lottery games:

In [32]:
to_predict = df.tail(8)
to_predict

       A   B   C   D   E   F
4039   1  14  15  17  28  37
4040   3  13  21  24  27  35
4041  17  19  21  23  25  34
4042   9  16  17  21  26  29
4043   1   4   5  24  31  32
4044   1   8  18  25  29  30
4045   3   4   5  15  24  33
4046   6  10  13  20  23  35

Let's remove the last raw from the 8 last games

In [33]:
to_predict.drop([to_predict.index[-1]], axis=0, inplace=True)
to_predict

C:\Users\aagui\AppData\Local\Temp\ipykernel_18028\3170915665.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  to_predict.drop([to_predict.index[-1]], axis=0, inplace=True)

       A   B   C   D   E   F
4039   1  14  15  17  28  37
4040   3  13  21  24  27  35
4041  17  19  21  23  25  34
4042   9  16  17  21  26  29
4043   1   4   5  24  31  32
4044   1   8  18  25  29  30
4045   3   4   5  15  24  33

We got exactly the 7 last games before the May 24th, 2022 lottety game.

Now, let’s take the results of the May 24th, 2022 lottety game and place it into a variable called “prediction”

In [34]:
prediction = df.tail(1)
prediction

      A   B   C   D   E   F
4046  6  10  13  20  23  35

Next, we have to change the format of our last 7 games from dataframe to np.array in order to insert them into our model

In [35]:
to_predict = np.array(to_predict)
to_predict

array([[ 1, 14, 15, 17, 28, 37],
       [ 3, 13, 21, 24, 27, 35],
       [17, 19, 21, 23, 25, 34],
       [ 9, 16, 17, 21, 26, 29],
       [ 1,  4,  5, 24, 31, 32],
       [ 1,  8, 18, 25, 29, 30],
       [ 3,  4,  5, 15, 24, 33]], dtype=int64)

Then, we have to re-scale those 7 games

In [36]:
scaled_to_predict = scaler.transform(to_predict)
scaled_to_predict

array([[-1.01374645,  0.429455  , -0.3178549 , -0.8722243 , -0.12023262,
         0.40013555],
       [-0.58223113,  0.26243555,  0.57804211,  0.1542054 , -0.27139179,
         0.0617137 ],
       [ 2.4383761 ,  1.26455224,  0.57804211,  0.00757259, -0.57371015,
        -0.10749723],
       [ 0.71231482,  0.76349389, -0.01922257, -0.28569304, -0.42255097,
        -0.95355186],
       [-1.01374645, -1.24073948, -1.8110166 ,  0.1542054 ,  0.33324492,
        -0.44591908],
       [-1.01374645, -0.57266169,  0.1300936 ,  0.30083822,  0.03092656,
        -0.78434094],
       [-0.58223113, -1.24073948, -1.8110166 , -1.16548993, -0.72486933,
        -0.27670816]])

Now, let’s predict the results (i.e., the 6 numbers) of the May 24th, 2022 lottety game based on those 7 games:

In [39]:
y_pred = model.predict(np.array([scaled_to_predict]))

print("The predicted numbers in the last lottery game are:", scaler.inverse_transform(y_pred).astype(int)[0])

1/1 [==============================] - 4s 4s/step
The predicted numbers in the last lottery game are: [ 5  9 12 19 22 35]

Let’s see what were the real results of the May 24th, 2022 lottety game:

In [40]:
prediction = np.array(prediction)

print("The actual numbers in the last lottery game were:", prediction[0])

The actual numbers in the last lottery game were: [ 6 10 13 20 23 35]

3 number's out of 6 numbers, not bad at all!!! especially considering the fact that there was not supposed to be a model within the data, that is, the numbers had to be 100% random.